#ignore everything
*
*/

!plugins/
!plugins/system/
!plugins/system/autoscrollspy/
!plugins/system/autoscrollspy/**
!scrollspy-docs/
!scrollspy-docs/**

!modules/
!modules/mod_autoscrollspy/
!modules/mod_autoscrollspy/**

!package-maker
!package-maker/pkg_autoscrollspy.xml

!.gitignore
!readme.md
!autossupdates.xml



